<HTML>
    <head>
    </head>
    
    <body>
        <BR><h2>Churn Prediction<h2><BR>
        <form action="/predict" method="post">
            <input type="number" name = "CreditScore", placeholder="CreditScore", required="required"><BR>
            <input type="number" name = "Geography", placeholder="Geography", required="required"><BR>
            <input type="number" name = "Gender", placeholder="Gender", required="required"><BR>
            <input type="number" name = "Age", placeholder="Age", required="required"><BR>
            <input type="number" name = "Tenure", placeholder="Tenure", required="required"><BR>
            <input type="number" name = "Balance", placeholder="Balance", required="required"><BR>
            <input type="number" name = "NumOfProducts", placeholder="NumOfProducts", required="required"><BR>
            <input type="number" name = "HasCrCard", placeholder="HasCrCard", required="required"><BR>
            <input type="number" name = "IsActiveMember", placeholder="IsActiveMember", required="required"><BR>
            <input type="number" name = "EstimatedSalary", placeholder="EstimatedSalary", required="required"><BR><BR>
            <button type="submit">Submit</button>
        </form> 
    </body>
</HTML>
